<div class="infoblock">
	<div class="searchInfo clearfix input-group">
		<div class="infoTitle">消息</div>
		<div class="search">
			<input type="text" placeholder="查找消息记录" class="form-control" ng-model="str">
		</div>
	</div>
	<div class="list-group">
		<a class="list-group-item clearfix" ng-repeat="x in info" ng-show="x.info.indexOf(str) != -1">
			<div class="infoAvatar"><img class="img-circle" ng-src="{{x.avatar}}"></div>
			<div class="infoContent">
				<div class="userName">{{x.name}}</div>
				<div class="userInfo">{{x.info}}</div>
			</div>
		</a>
	</div>
</div>