<div class="problock">
	<div class="proTitle">基本信息</div>
	<div class="line"></div>
	<div class="item">
		<div class="proLabel">姓名</div>
		<div class="cont">鲁晓佳</div>
	</div>
	<div class="item">
		<div class="proLabel">所在地</div>
		<div class="cont">河北 石家庄</div>
	</div>
	<div class="item">
		<div class="proLabel">性别</div>
		<div class="cont">女</div>
	</div>
	<div class="item">
		<div class="proLabel">生日</div>
		<div class="cont">1996-09-14</div>
	</div>
	<div class="item">
		<div class="proLabel">血型</div>
		<div class="cont">B</div>
	</div>
	<div class="item">
		<div class="proLabel">注册时间</div>
		<div class="cont">2012-05-23</div>
	</div>
	<div class="proTitle">联系信息</div>
	<div class="line"></div>
	<div class="item">
		<div class="proLabel">邮箱</div>
		<div class="cont">me@luxiaojia.cn</div>
	</div>
	<div class="item">
		<div class="proLabel">QQ</div>
		<div class="cont">490423467</div>
	</div>
</div>